@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: 'CounterStrike';
  src: url("./assets/font/cs_regular.ttf");
}

html {
  background-color: #0a0a11;
  color: white;
}
