@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: 'CounterStrike';
  src: url("./assets/font/cs_regular.ttf");
}

html {
  background-color: #0a0a11;
  color: white;
}

.p-card .p-card-body {
  padding: 0 !important;
  text-align: center;
}

.p-button {
  color: #0a0a11;
  background: #fcac19;
  border: #28397f;
}

.p-button:focus{
  box-shadow: 0 0 0 2px #1c2127, 0 0 0 4px rgb(252, 172, 25), 0 1px 2px 0 rgba(0, 0, 0, 0);
}

.p-inputtext{
  margin-right: 10px;
  width: 310px;
}

.p-inputtext:hover{
  border: #fcac19 1px solid;
}

.p-inputtext:focus{
  border: #fcac19 1px solid;
  box-shadow: none;
}
